# M4 - Messier 4 Globular Cluster (Spider Globular)
https://en.wikipedia.org/wiki/Messier_object

In [30]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np 

df = pd.read_csv('m4.csv')
df = df[[
    'parallax',
    'phot_g_mean_mag',
    'phot_bp_mean_mag',
    'phot_rp_mean_mag',
    'distance_gspphot'
]].rename(columns={
    'phot_g_mean_mag' : 'mg',
    'phot_bp_mean_mag': 'mb',
    'phot_rp_mean_mag': 'mr',
    'distance_gspphot': 'distance_parsec'
})
df.dropna(inplace=True)
df

      parallax         mg         mb         mr  distance_parsec
23    0.597685  18.398983  18.900011  17.497986        1128.7047
24    0.256526  18.559240  19.346416  17.813740         895.9398
25    0.173746  18.979223  19.369753  17.860250        1369.5024
32    0.554960  18.292032  18.996614  17.556246        1111.1747
51    0.601494  18.063665  18.574821  17.231619        1243.6945
...        ...        ...        ...        ...              ...
1978 -0.854887  15.858691  16.183687  14.760021        5004.3670
1982  0.469881  14.800021  15.397375  13.909843        1580.2167
1987  0.589284  12.977633  13.575609  12.211304        1385.3176
1988  0.648412  16.095870  16.495434  15.377770        7863.8870
1991  0.445272  16.258055  16.502441  15.231226        1183.9016

[425 rows x 5 columns]